 aside > header .logo {
            margin-top: 10px;
            max-height: 30px; 
}
aside footer img {
  height: 16px;
  position: relative;
  top: 5px;
  left: 2px; }

.thumb {
    height: 96px;
    margin-bottom: 2.5em;
    text-align: center;
    line-height: 96px;
}
.column_4.thumb {
    height: 220px;
    line-height: 220px;
}
#id_mapa_geo{
  height: 500px;
}